/* styling for mobile screen devices */
body{
    background-color: #E2E2E2;
}
.container{
    position: relative;
    top: 50px;
    background: white;
    width: 50%;
    height: 400px;
    margin: auto;
    border-radius: 5px;
}
.content{
    float: left;
    width: 50%;
}
img{
    max-width: 100%;
    height: 400px;
}
#dev_img{
    background-color: rgb(211, 208, 208);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    left: 0;
    bottom: 0;
    /* border: 1px solid red; */
}
#social_icons{
    position: absolute;
    left: 10px;
    margin-top: -30px;
    word-spacing: 10px;
}
#social_icons a{
    color: white;
}
#dev_info{
    text-align: center;
    padding-top: 50px;
    line-height: 0.7em;
}
#country{
    font-size: 10px;
    color: rgb(153, 152, 152);
}
h2#name{
    font-size: 20px
}
button{
    border-radius: 30px;
    border: 1px solid rgb(67, 233, 117);
    color: rgb(67, 233, 117);
    background-color: transparent;
    padding: 5px 10px;
    font-size: 7px
}
#btn_hire{
    background-color: rgb(67, 233, 117);
    width: 80%;
    padding: 12px 20px;
    color: white;
    margin-top: 100px;
    font-size: 10px;
}

/* media queries for other devices*/
@media only screen and (min-width: 388px){
    #dev_info{
        padding-top: 100px;
    }
    button#btn_hire{
      margin-top: 120px;
      padding: 15px 20px;
      font-size: 13px;
    }
} 
@media screen and (min-width: 470px){
    .container{
        width: 75%;
    }
    button#btn_hire{
        width: 70%;   
    }
}

@media screen and (min-width: 768px){
    .container{
        width: 50%;
    }
}
@media screen and (min-width: 992px){
    h2#name{
        font-size: 25px;
    }
    button#btn_hire{
        width: 70%;
    }
}

@media screen and (min-width: 1150px){
    h2#name{
        font-size: 30px;
    }
    button{
        font-size: 10px;
    }
    button#btn_hire{
        width: 70%;
        margin-top: 80px;
    }
}

